version: "3.9"

services:
  db:
    image: postgres:17
    container_name: oi-url-shortener-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - new_postgres_data:/var/lib/postgresql/data

volumes:
  new_postgres_data:
